In [1]:
from db import DB
import pandas as pd

In [3]:
db = DB()

query_string = '''
    SELECT * FROM HISTORICAL_DATA WHERE TIMESTAMP BETWEEN '2024-01-01' AND '2024-07-01' ORDER BY SYMBOL, TIMESTAMP;
'''

data = db.execute_df(query_string)

data

Exception ignored in: <function DB.__del__ at 0x70bec93e29e0>
Traceback (most recent call last):
  File "/home/andrew/Projects/Quant/quant_workflow/db.py", line 47, in __del__
    self.engine.dispose()
AttributeError: 'DB' object has no attribute 'engine'
/home/andrew/Projects/Quant/quant_workflow/db.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_string, self.conn)

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap,insert_id,update_id
0,A,2024-01-02,137.71,140.1000,137.43,138.27,1441581.0,30485.0,138.500000,scheduled__2024-01-01T00:00:00+00:00,scheduled__2024-01-01T00:00:00+00:00
1,A,2024-01-03,137.52,137.5200,130.61,130.70,2074480.0,41529.0,132.020000,scheduled__2024-01-01T00:00:00+00:00,scheduled__2024-01-01T00:00:00+00:00
2,A,2024-01-04,130.09,131.0400,129.74,130.54,2446587.0,41035.0,130.560000,scheduled__2024-01-01T00:00:00+00:00,scheduled__2024-01-01T00:00:00+00:00
3,A,2024-01-05,129.55,131.5000,128.17,130.10,1393964.0,29322.0,130.340000,scheduled__2024-01-01T00:00:00+00:00,scheduled__2024-01-01T00:00:00+00:00
4,A,2024-01-08,129.69,133.1000,129.36,132.91,1311378.0,25085.0,132.030000,scheduled__2024-01-01T00:00:00+00:00,scheduled__2024-01-01T00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
465563,ZYME,2024-06-25,8.40,8.4226,8.27,8.36,306365.0,4494.0,8.345866,manual__2024-07-11T15:27:57.770882+00:00,scheduled__2024-06-01T00:00:00+00:00
465564,ZYME,2024-06-26,8.40,8.4400,8.21,8.40,405058.0,5364.0,8.373496,manual__2024-07-11T15:27:57.770882+00:00,scheduled__2024-06-01T00:00:00+00:00
465565,ZYME,2024-06-27,8.40,8.4700,8.27,8.41,375999.0,3655.0,8.401438,manual__2024-07-11T15:27:57.770882+00:00,scheduled__2024-06-01T00:00:00+00:00
465566,ZYME,2024-06-28,8.42,8.5400,8.38,8.51,984604.0,4070.0,8.482016,manual__2024-07-11T15:27:57.770882+00:00,scheduled__2024-06-01T00:00:00+00:00
465567,ZYME,2024-07-01,8.53,8.6500,8.41,8.61,230556.0,3355.0,8.565952,scheduled__2024-07-01T00:00:00+00:00,scheduled__2024-07-01T00:00:00+00:00