In [1]:
from db import DB
import pandas as pd
import pendulum

In [2]:
db = DB()

end = pendulum.datetime(2024,7,1)
start = end.subtract(years=1)

query_string = f'''
    SELECT SYMBOL, TIMESTAMP, CLOSE 
    FROM HISTORICAL_DATA 
    WHERE TIMESTAMP BETWEEN '{start}' AND '{end}' 
    ORDER BY SYMBOL, TIMESTAMP;
'''

data = db.execute_df(query_string)

data

/home/andrew/Projects/Quant/quant_workflow/db.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_string, self.conn)

       symbol   timestamp   close
0           A  2023-07-03  118.46
1           A  2023-07-05  118.64
2           A  2023-07-06  117.58
3           A  2023-07-07  116.16
4           A  2023-07-10  117.51
...       ...         ...     ...
932601   ZYME  2024-06-25    8.36
932602   ZYME  2024-06-26    8.40
932603   ZYME  2024-06-27    8.41
932604   ZYME  2024-06-28    8.51
932605   ZYME  2024-07-01    8.61

[932606 rows x 3 columns]